<div class="container d-flex flex-column mt-5 align-items-center">
<h1 class="mb-5 text-center mt-5">Registro de Novo Funcionário</h1>

<%= render 'employees/form', employee: @employee %>

<%= link_to 'Voltar', employees_path, class: 'btn btn-info mt-2 mb-5' %>
</div>
