<div class="container mt-5 mb-5 p-5">
  <h1 class="mb-5 text-center mt-5">Registro de Novo Funcionário</h1>
  <div class="row justify-content-center">
    <%= link_to 'Voltar', employees_path, class: 'btn btn-info mt-2 mb-5' %>
  </div>
  <%= render 'employees/form', employee: @employee %>
</div>
