<div class="container d-flex flex-column mt-5 align-items-center">
<h1 class="mb-5 text-center mt-5">Punto</h1>

<%= render 'puntos/form', punto: @punto, genba: @genba, company: @company, employee: @employee, user: @user %>

</div>
