<div class="container d-flex flex-column mt-5 align-items-center">
<h1>Report</h1>


<p><%= @punto.date %></p>
<p><%= @punto.in.strftime("%k:%M") %></p>
<p>out time: <%= @punto.out %></p>
<p><%= @punto.user.email %></p>



</div>
