<div class="container d-flex flex-column mt-5 align-items-center">
  <div class="row justify-content-center">
    <%= image_tag "logo.png", alt: "alttext", class: 'p-5 mt-5' %>
  </div>

   <%= link_to 'Funcionários', employees_path, class: 'btn btn-primary w-50 mb-3' %>


   <%= link_to 'Empresas', companies_path, class: 'btn btn-success w-50 mb-3' %>

</div>
