.show-employee {
  p {
    border: 1px solid #1f286f;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    min-width: 500px;
  }
}

.driver-licence {
  p {
    border: 1px solid #1f286f;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    min-width: 500px;
  }
}
